body {
font-size: 30px;
color: rgba(49, 36, 42, 0.8);
font-family: "Arial", serif;
/* background: white url("../img/terracotta-scratone.png"); */
overflow: scroll;

}

*{
padding: 0;
margin: 0;}

.header {
background: rgb(253, 250, 244) url("../img/b85c8197-9fbb-4bf2-8219-ce67a9d0c29b.jpg") no-repeat;

min-height: 100%;
background-size: 100%;
}


.container {
 font-size: 30px;   
margin-top: 15%;
position: relative;
}
.social {
    position: absolute;
    top: 2vh;
    right: 5vw;
}
.vklogo {
width: 30px;
height: 30px;
margin-right: 2vw;
}
.inlogo {
width: 30px;
height: 30px;
}

.header-page {
position: relative;
}
.header-logo img {
    width: 20%;
    height: em;
    position: absolute;
    top: 20px;
    left: 30px; 
}
.btn-info {
font-size: 30px;
margin-bottom: 20%;
}
.btn {
margin-bottom: 5%;
text-decoration: none;
color: white;
position: relative;
}

.btn-me {
position: absolute;
top: 20px;
left:40vw;
height: 100px;
width: 4em;


}

.btn-contact {
top: 20px;
left: 60vw;
height: 100px;
width: 4em;
}
.btn:hover {

color: rgb(144, 191, 194)

}
.btn:active {
color: rgb(45, 48, 48)

}
.btn img {
width: 90%
}

.basicInformation h1 {

text-align: left;
position: absolute;
left: 30%;
top: 10%;
font-size: 75px;
color: rgb(32, 26, 18);
}
.basicInformation p {
position: absolute;
width: 90%;
top: 40%;
right: 5%;
color: rgb(226, 221, 205);
font-size: 35px;
font-weight: 700;
}


.basicInformation {
font-family: "Georgia", serif;
min-height: 230px;
padding: 10%;
border-radius: 8px;
margin: 20% 5% 0% 5%;
position: relative;
}
.decor-cite {
background:linear-gradient(to top, rgba(37, 37, 37, 0.4),rgba(105, 81, 60, 0.4) );
color: rgb(219, 217, 213)
}
.decor-middle {
background:linear-gradient(to top, rgba(43, 25, 1, 0.3),rgba(129, 77, 16, 0.3) );
color: rgb(31, 29, 29)
}


section {


}
.middle {
background: rgb(253, 250, 244) url("../img/pattern_264_1576859988934.png");
}
.puzzle {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 2%;
width: 90%;
height: 30%;
padding-top: 10%;
padding-bottom: 10%;
margin-left: 5%;

}
.middle p {
 font-size: 20px;   
}
h2 {
font-size: 25px;
}
.content1 h2 {
font-size: 40px;
margin-top: 0%;
margin-left: 18vw;

}
.content1 p {
font-size: 30px;
margin-top: 5%;;
display: block;
margin-left: 5%;

}
.content1 {
grid-column: 1/3;
grid-row-start: 1;
grid-row-end: 3;
border-radius: 5px;
padding: 5%;
min-height: 200px;

}
.content1 img {
/* margin-left: 10vw; */
display: block;
margin-left: auto;
margin-right: auto;

}

.content2 , .content3 , .content4 , .content5 , .content6 {
 
min-height: 100px;
text-align: center;
border-radius: 5px;
padding: 5%;
}
.content2 p, .content3 p, .content4 p, .content5 p, .content6 p{
 margin-top: 3%
}

.content2 img {

}

.footer {
height: 300px;
background-color: rgb(243, 243, 243);
}


