body {
font-size: 20px;
color: rgba(37, 32, 28, 0.8);
font-family: "Arial", serif;
background-color: rgb(255, 251, 247);
min-width: 940px;
overflow: scroll;

}

*{
padding: 0;
margin: 0;
}

.header {
background: url("../img/tu.jpg") no-repeat;

min-height: 100%;
max-width: 100%;
background-size: 100%;
}


.container {
 font-size: 30px;   
margin-top: 15%;
position: relative;
}
.social {
    position: absolute;
    top: 18px;
    right: 5vw;
}
.vklogo {
width: 30px;
height: 30px;
margin-right: 2vw;
}
.inlogo {
width: 30px;
height: 30px;
}

.header-page {
position: relative;
}
.header-logo img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 40px; 
}

.btn-info {
font-size: 25px;
margin-bottom: 20%;
}
.btn {
margin-bottom: 5%;
text-decoration: none;
color: white;
text-shadow: 3px 5px 6px rgba(29, 24, 24, 0.925);
position: relative;
}

.btn-me {
position: absolute;
top: 25px;
left:400px;
height: 100px;
width: 4em;



}

.btn-contact {
top: 25px;
left: 650px;
height: 100px;
width: 4em;
}
.btn:hover {

color: rgb(144, 191, 194)

}
.btn:active {
color: rgb(45, 48, 48)

}
.btn img {
width: 90%
}

.basicInformation h1 {

text-align: left;
position: absolute;
left: 30%;
top: 10%;
font-size: 7vw;
color: rgb(255, 250, 240);
}
.basicInformation p {
position: absolute;
width: 90%;
top: 40%;
right: 5%;
color: rgb(255, 255, 255);
text-shadow: 3px 5px 6px rgba(34, 22, 22, 0.11);
font-size: 30px;
font-weight: 700;
}


.basicInformation {
font-family: "Georgia", serif;
min-height: 230px;
padding: 10%;
border-radius: 8px;
margin: 20% 5% 0% 5%;
position: relative;
}
.decor-cite {
background:linear-gradient(to top, rgba(37, 37, 37, 0.4),rgba(37, 34, 21, 0.74) );
color: rgb(216, 215, 212)
}
.decor-middle {
border-bottom: 3px solid rgb(207, 202, 192);
color: rgb(48, 35, 26)
}

.puzzle {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 1%;
width: 90%;
height: 30%;
padding-top: 10%;
padding-bottom: 10%;
margin-left: 5%;

}
.middle p {
 font-size: 20px;   
}
h2 {
font-size: 25px;
color: rgb(126, 67, 13);
}
.puzzle img {
margin-bottom: 5%;
}

.content1, .content2 , .content3 , .content4 , .content5 , .content6 {
 
min-height: 100px;
text-align: center;
padding: 5%;
}
.content1 p, .content2 p, .content3 p, .content4 p, .content5 p, .content6 p{
 margin-top: 3%
}

.photogallery {
width: 90vw;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 25px;
margin-left: 4vw;
margin-bottom: 7%;
}

.photogallery img {
max-width: 100%;

}

.footer {
height: 300px;
background-color: rgb(26, 24, 22);
color: rgb(150, 144, 131);
border-top: 4px solid rgb(31, 20, 6);
padding: 3%;
position: relative;
}
.footer h3 {
color: white;
margin-bottom: 6px;
padding-bottom: 4px;
border-bottom: 1px solid oldlace;

}
.about {
margin-top: 10px;
 position: absolute;
 left: 5%;
 width: 150px;
line-height: 35px;
}
.contacts {
 margin-top: 10px;   
position: absolute;
left: 40%;
width: 150px;
line-height: 35px;
}

.about a , .contacts a {
text-decoration: none;
color: rgb(150, 144, 131);
}
.about a:hover , .contacts a:hover {
background-color: rgba(14, 70, 92, 0.384);
}
.about a:active , .contacts a:active {
background-color: rgba(2, 28, 37, 0.568);
}
.footer-logo img {
    width: 10%;
    height: auto;
    position: absolute;
    top: 20px;
    right: 50px; 
}
.social-footer {
    position: absolute;
    bottom: 140px;
    right:60px;
}
.copyright {
color: rgb(180, 173, 173);
position: absolute;
width: 500px;
bottom: 70px;
left: 20%;
right: 20%;
text-align: center;
padding-top: 13px;
line-height: 40px;
}


@media(min-width: 400px) and (max-width: 770px) {
    .header-logo img {
    width: 20%;
    }
    .btn-info {
    font-size: 30px;     
    }
    .btn-me {
    left: 330px;
    }
    .btn-contact {
    left: 600px;
    }
    .puzzle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3%;
    
    }
    .puzzle p {
    font-size: 25px;
    }
   .puzzle h2 {
    font-size: 40px;
   }
}
@media(min-width: 1200px) {
     
    .header-logo img {
        width: 11%;
        }
        .btn-info {
        font-size: 25px;     
        }
        .btn-me {
        left: 500px;
        }
        .btn-contact {
        left: 800px;
        }
        .basicInformation h1 {
        font-size: 60px;
        left: 450px;
        }
        .basicInformation p {
        font-size: 25px;
        }
        .puzzle {
        padding-top: 5%;
        }
        .puzzle p {
        font-size: 17px;
        }
        .footer {
        font-size: 18px; 
        }
        .footer .copyright {
        margin-left: 10%;
        }
        
        
}